<div class="row">
    <div class="col-sm-12">
        <h2>List View</h2>
        <div class="row">
            <div class="col-sm-12">
                <article class="row" dir-paginate="post in posts | itemsPerPage: posts_per_page" current-page="pagination.current">
                    <div class="col-sm-7">
                        <h3>{{post.title.rendered}}</h3>
                    </div>
                    <div class="col-sm-3">
                        {{post.date}}
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary btn-block" ui-sref="single({cpt:post.type,slug:post.slug})">View</a>
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>