<div class="row">
    <div class="col-sm-12">
        <a ui-sref="archive">Back to List</a>
        <h2>{{post.title.rendered}}</h2>
        <dl class="post-meta" ng-show="author">
           <dt>Posted</dt>
            <dd>{{post.date}}</dd>
            <dt>Posted By</dt>
            <dd>
                <a ui-sref="author({author:author.slug})">{{author.name}}</a>
            </dd>
            <dt>Categories</dt>
            <dd>
                <a ng-repeat="cat in cats" ui-sref="category({term:cat.slug})">{{cat.name}} </a>
            </dd>
        </dl>
        <div ng-bind-html="post.content.rendered | to_trusted"></div>
    </div>
</div>